.nav {
	font-size: 20px;
	background-color: #fdfdfd;

}

.jumbotron {
	background-color: #171309;}

.jumbotron .container .col-md-10 {
	color: #FFFFFF;
}

.jumbotron .container .col-md-10 h2
{
	font-size: 12px;
}

.jumbotron .container .col-md-10 p
{
	font-size: 9px;
}

